{% extends 'EtkNoticiasBundle::layout.parallax.html.twig' %}

{% block navbar %}
    {{ parent() }}
    <br/>
{% endblock %}    
{% block content %}
    {{ parent() }}
    <div class="etk_content">
        {% for flashMessage in app.session.flashbag.get('error') %}
            <span style="color:red; font-weight: 400"> {{ flashMessage }} </span><br/>
        {% endfor %} 
         <div class="etk_header_1 ">Ingrese su correo:</div>
         <div>Se le enviará un correo para recuperar la contraseña.</div>
         <div class="container-fluid row">
                 {{ form_start(form) }}
                 {{ form_errors(form) }}
             <div class="form-group col-lg-6">
                 {{ form_label(form.email) }}
                 {{ form_errors(form.email) }}
                 {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
             </div>
             <div class="col-lg-12 center-block ">
                 {{ form_widget(form.Guardar, { 'attr': {'class': 'btn btn-default'} }) }}
             </div>
             {{ form_widget(form._token) }}
             {{ form_end(form, {'render_rest': false}) }}
         </div>
    </div>
{% endblock %}

