{% extends 'EtkNoticiasBundle::layout.parallax.html.twig' %}

{% block navbar %}
    {{ parent() }}
    <br/>
{% endblock %}    
{% block content %}
    {{ parent() }}
   <div class="etk_content">
   {% for flashMessage in app.session.flashbag.get('notice') %}
       <span class="alert-success"> {{ flashMessage }} </span><br/>
   {% endfor %}        
   <div class="etk_header_1 ">Datos Usuario:</div>
        <div>Usuario: {{ app.user.username }} </div>
        <div>Nombre:{{ app.user.Nombre }}</div>
        <div>Apellido: {{ app.user.Apellido }}</div>
        <div>Email: {{ app.user.Email }}</div>
        <a class="pager" href="{{ path('etk_usuarios_nuevapassword') }}" >Cambiar Contraseña </a>
    </div>
        
{% endblock %}

