
{% extends "EtkAdminBundle::admin.layout.html.twig" %}

{% block content %}
    <div>
        <!-- Modulo Usuarios -->
        <div class="panel panel-primary moduleBox users" >
            <div class="btn glyphicon glyphicon-plus btnadd users"></div>
            <div class="panel-title ">Usuarios</div>
            <div class="panel-body">
            <table class="table table-striped">
            {% for user in userData %}
                <tr>
                <td class="user {{ user.status }}" >{{ user.username | upper }}</td>
                <td>{{ user.nombre }}</td>
                <td>{{ user.apellido }}</td>
                <td><div class="edit user btn glyphicon glyphicon-pencil" id="edit_{{ user.id}}"> </div></td>    
                </tr>
            {% endfor %}           
            </table>
            </div>
        </div>
        <!-- Modulo Noticias -->
        <div class="panel panel-primary moduleBox noticias">
            <div class="btn glyphicon glyphicon-plus btnadd noticias"></div>
            <div class="panel-title ">Noticias</div>
            <div class="panel-body">
                {% if not noticiasData %} No hay noticias {% endif %}
                {% for noticias in noticiasData %}
                    <li> {{ noticias.nombre }} | {{ noticias.fecha.timestamp | date("d/m/Y") }}</li>
                {% endfor %}                
            </div>
        </div>
        <!-- Modulo Registros -->
        <div class="panel panel-primary moduleBox registros">
        </div>
        <div id="myModal" class="modal">
        <!-- register form here -->
        Loading...
        </div>  
    </div>
{% endblock %}
   
{% block javascripts %}
   {{ parent() }}
   <script>
       $('.edit.user').click(function(){
           form = 'users';
           type= 'edit';
           console.log(this.id.substr(5));
           id= this.id.substr(5);
            $.ajax('{{ app.request.getBaseURL() }}/admin/getForm/'+form+'/'+type+'/'+id).done( function(data){
                $('#myModal').dialog({ width:'80%', modal: true,}).prev(".ui-dialog-titlebar").css("background","green");   
                $('#myModal').html(data);                 
                $('#myModal form').submit(function(e){
                    e.preventDefault();
                   // Aqui va a ir al controlador a ejecutar el proceso del form
                });
            });
       });
// btnadd users
       $('.btnadd.users').click(function(){
           form = 'users';
           type= 'new';
            $.ajax('{{ app.request.getBaseURL() }}/admin/getForm/'+form+'/'+type).done( function(data){
              $('#myModal').dialog({ width:'80%', modal: true,}).prev(".ui-dialog-titlebar").css("background","green");   
                $('#myModal').html(data);                 
                $('#myModal form').submit(function(e){
                    e.preventDefault();
                   // Aqui va a ir al controlador a ejecutar el proceso del form
                });
            });
       });
   </script>
{% endblock %}