{% extends 'EtkAdminBundle::admin.layout.html.twig' %}

{% block content %}
    {{ parent() }}
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="panel-title">    Lista de Noticias: </div>
            <div class="col-lg-12">
                <div>
                    {%  for noticia in noticias %}
                        <div>
                            {{ noticia.nombre }} | {{ noticia.fecha|date('Y-m-d')  }}  | {{ noticia.userId.nombre }}
                            <button class="borrarNoticia" id="del_{{ noticia.Id }}" >Borrar</button>
                        </div>
                    {%  endfor  %}
                </div>
                <a href="{{ path('etk_admin_newNoticias') }}">Nueva Noticia</a></li>
            </div>
        </div>
    </div>
    <div id="result"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $().ready(function() {
            $(".borrarNoticia").click(function(e) {
                e.preventDefault();
                var data={'id': this.id.substr(4)};
                $.ajax({
                    type: "POST",
                    url: '{{ path('etk_admin_borrarNoticia') }}',
                    data: data
                }).done(function( result ) {
                    if(result.success) {
                        $('#result').html(result.noticia + '<br />'+ result.Usuario);
                        window.location.reload();
                    }
                });
            });
        });
    </script>
{% endblock %}