{# empty Twig template #}
{% extends 'EtkAdminBundle::admin.layout.html.twig' %}
{% block menu %}
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
        <li>
            <a href="{{ path('games_tcg_homepage') }}">Trading Card Game</a>
        </li>
        <li>
            <a href="{{ path('etk_admin_logout') }}">Salir</a>
        </li>
    </ul>
</div>
{% endblock %}   
{% block content %}
<div id="container" class="container-fluid" ng-controller="exampleController">
<div class="Errores">
   {% for flashMessage in app.session.flashbag.get('info') %}
       <span style="color:green; font-weight: 400"> {{ flashMessage }} </span><br/>
   {% endfor %} 
</div>
Tareas para La pagina de administracion de TCG:<br />
<div class='liveMessages'></div>
<ul class="list-group">
    <li> 
        Deck
        <li class="list-group-item-danger"><a href="{{ path('games_tcg_CardNew') }}">Crear nueva Carta</a></li>
        <ul>
<!-- object(Games\TCGBundle\Entity\card)[424]
      private 'CardId' => resource(432, stream)
      private 'StringId' => string '' (length=0)
      private 'Life' => float 10000
      private 'Energy' => float 4
      private 'Defense' => float 2000
      private 'Attack' => float 2000
      private 'Title' => string 'Carta Suprema' (length=13)
      private 'Image' => resource(434, stream)
      private 'Subtitle' => string 'Esta cartas es de prueba' (length=24)
      private 'Description' => string 'Carta de Prueba' (length=15)
      private 'Leyend' => string 'Probando la carta' (length=17)
-->            
    {% for card in data %}
        <li class="list-group-item-danger">
            <img src="data:image/jpg;base64,{{ card.Image }}" width="50px"/>
        </li>
    {% endfor %}
        </ul>
    </li>
</ul>
</div>
<div class='separator'></div>
<div>Cartas</div>
<ul>
    <li></li>
</ul>    
{% endblock %}

{% block javascripts %}
 {{ parent() }}
<script type="text/javascript">
deck = new function(){
    this.content ="";
    this.delete = function(div, deckId){
        var question = confirm('Estas seguro de querer borrar el Mazo? ');
        if(!question) return false;
        url = "http://etek-local.local/app_dev.php/api/deleteDeck/"+deckId;
        $.ajax({
            url: url,
            headers: {"Authorization": "{{ apiKey }}"},
            success: function (data, textStatus, jqXHR) {
                        $(div).html(data.status + "Procesado y borrado");
                        if(data.status == 'OK')   
                           setTimeout(2000,location.reload());
                        },
            error: function (jqXHR, textStatus, errorThrown) {
                            console.log(textStatus);
                        }                    
        });  
    };
};
</script>
{% endblock %}