{# empty Twig template #}
{% extends 'EtkAdminBundle::admin.layout.html.twig' %}
{% block menu %}
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
        <li>
            <a href="{{ path('games_tcg_homepage') }}">Trading Card Game</a>
        </li>
        <li>
            <a href="{{ path('etk_admin_logout') }}">Salir</a>
        </li>
    </ul>
</div>
{% endblock %}   
{% block content %}
<div id="container" class="container-fluid" ng-controller="exampleController">
<div class="Errores">
   {% for flashMessage in app.session.flashbag.get('info') %}
       <span style="color:green; font-weight: 400"> {{ flashMessage }} </span><br/>
   {% endfor %} 
</div>
  {{ 'word.board.deck' | trans }}

<div class='liveMessages'></div>
        <li class="list-group-item-danger"><a href="{{ path('games_tcg_CardNew') }}">Crear nueva Carta</a></li>
<!-- object(Games\TCGBundle\Entity\card)[424]
      private 'CardId' => resource(432, stream)
      private 'StringId' => string '' (length=0)
      private 'Life' => float 10000
      private 'Energy' => float 4
      private 'Defense' => float 2000
      private 'Attack' => float 2000
      private 'Title' => string 'Carta Suprema' (length=13)
      private 'Image' => resource(434, stream)
      private 'Subtitle' => string 'Esta cartas es de prueba' (length=24)
      private 'Description' => string 'Carta de Prueba' (length=15)
      private 'Leyend' => string 'Probando la carta' (length=17)
--> {% set cebra = 0 %}           
    {% for card in data %}
            <div class="row  {{cebra==1 ? 'grey' : 'white' }}">
                <div class="big-box col-xs-6 card_image">  
                        <img src="{{ card.getImageFile() }}" width="100px"/>
                </div>
                <div class="col-xs-6 col-sm-3 col-lg-3">
                    <div class="row card_description">
                        <div><b>{{ card.Title}}</b></div>
                        <div>{{ card.Subtitle | raw }}</div>                        
                        <div>Descripcion: {{ card.Description | raw}}</div>
                    </div>
                </div>
                <div class="btn btn-danger card_delete_btn" onclick="card.delete('.liveMessages','{{ card.stringId }}');" >Borrar</div>    
            </div>
    {% set cebra = (cebra == 0)? 1: 0 %}                    
    {% endfor %}
</div>
  
{% endblock %}

{% block javascripts %}
 {{ parent() }}
<script type="text/javascript">
card = new function(){
    this.content ="";
    this.delete = function(div, cardId){
        var question = confirm('Estas seguro de querer borrar la Carta? ');
        if(!question) return false;
        url = "http://etek-local.local/app_dev.php/api/deleteCard/"+cardId;
        $.ajax({
            url: url,
            headers: {"Authorization": "{{ apiKey }}"},
            success: function (data, textStatus, jqXHR) {
                        $(div).html(data.status + "Procesado y borrado");
                        if(data.status == 'OK')   
                           setTimeout(2000,location.reload());
                        },
            error: function (jqXHR, textStatus, errorThrown) {
                            console.log(textStatus);
                        }                    
        });  
    };
};
</script>
{% endblock %}