<!DOCTYPE html>
<html lang="en"  data-ng-app="myApplication">

<head>

    {% block meta_content_header %}
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('bundles/etknoticias/images/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('bundles/etknoticias/images/favicon-96x96.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('bundles/etknoticias/images/favicon-16x16.png') }}">
        <link rel="icon" type="image/png" href="{{ asset('bundles/etknoticias/images/favicon-16x16.png') }}">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Diseño de paginas web, aplicaciones web">
        <meta name="author" content="Mariano Eiberman">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}

    {% block stylesheets %}
        <link href="{{ asset('bundles/etknoticias/css/bootstrap.css') }}" type="text/css" rel="stylesheet">
        <!-- link href="{{ asset('bundles/etknoticias/css/bootstrap-responsive.css') }}" type="text/css" rel="stylesheet" -->
        <link href="{{ asset('bundles/etknoticias/css/jquery-ui.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/etknoticias/css/jquery-ui.structure.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/etknoticias/css/jquery-ui.theme.css') }}" rel="stylesheet">
      <!--  <link href="{{ asset('bundles/etknoticias/css/logo-nav.css') }}" rel="stylesheet"> -->
      <!--  <link href="{{ asset('bundles/etknoticias/css/etkmain.css') }}" rel="stylesheet"> -->
        <link href="{{ asset('bundles/etknoticias/css/parallax.css') }}" rel="stylesheet">

    {% endblock %}
     <title>{% block mytitle %}Eibertek{% endblock %}</title>     
    <!-- Custom CSS -->
</head>
<body>
{% block body %}
    <div class="information welcome photo image1">
    </div>
    {% block menu %} {% include 'EtkNoticiasBundle:Default:Partials/menu.html.twig' %} {%endblock %}
    <div>
    {% block content %}        
    {% endblock %}
    </div>
{% block footer %}
    <footer class="footer">
        {% include 'EtkNoticiasBundle:Default:Partials/footer.html.twig' %}  
    </footer>    
{%endblock %}        
</body>
{% endblock %}
<!-- /.container -->
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/etknoticias/js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/etknoticias/js/jquery-ui.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/etknoticias/js/bootstrap.js') }}"></script>    
    <script type="text/javascript" src="{{ asset('bundles/etknoticias/js/angular.js') }}"></script>         
    <script type="text/javascript" src="{{ asset('bundles/etknoticias/js/angular-parallax.js') }}"></script>         
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
        angular.module('myApplication', []).config(function($interpolateProvider){
                $interpolateProvider.startSymbol('{[{').endSymbol('}]}');
        });
        var app = angular.module('myApplication', ['angular-parallax']);
    </script>
 <div id="fb-root"></div>
<script>
  /* 
    */  
 $.ajaxSetup({ cache: true });
  $.getScript('//connect.facebook.net/en_US/sdk.js', function(){
    FB.init({
      appId      : '975303272525600',
      xfbml      : true,
      version    : 'v2.5'
    });     
    $('#loginbutton,#feedbutton').removeAttr('disabled');
    FB.getLoginStatus(updateStatusCallback);
  }); 
  
 (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));  
</script>   
{% endblock %}

</html>