<!DOCTYPE html>
<html lang="en"  data-ng-app="myApplication">

<head>

    {% block meta_content_header %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Diseño de paginas web, aplicaciones web">
        <meta name="author" content="Mariano Eiberman">
    {% endblock %}

    {% block stylesheets %}
        <link href="{{ asset('bundles/etknoticias/css/bootstrap.css') }}" type="text/css" rel="stylesheet">
        <!-- link href="{{ asset('bundles/etknoticias/css/bootstrap-responsive.css') }}" type="text/css" rel="stylesheet" -->
        <link href="{{ asset('bundles/etknoticias/css/jquery-ui.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/etknoticias/css/jquery-ui.structure.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/etknoticias/css/jquery-ui.theme.css') }}" rel="stylesheet">
      <!--  <link href="{{ asset('bundles/etknoticias/css/logo-nav.css') }}" rel="stylesheet"> -->
      <!--  <link href="{{ asset('bundles/etknoticias/css/etkmain.css') }}" rel="stylesheet"> -->
        <link href="{{ asset('bundles/etknoticias/css/parallax.css') }}" rel="stylesheet">

    {% endblock %}
     <title>{% block mytitle %}Parallax{% endblock %}</title>     
    <!-- Custom CSS -->
</head>
{% block body %}
    <div>
    {% block content %}        
    {% endblock %}
    </div>
{% endblock %}
<!-- /.container -->
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/etknoticias/js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/etknoticias/js/jquery-ui.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/etknoticias/js/bootstrap.js') }}"></script>    
    <script type="text/javascript" src="{{ asset('bundles/etknoticias/js/angular.js') }}"></script>         
    <script type="text/javascript" src="{{ asset('bundles/etknoticias/js/angular-parallax.js') }}"></script>         
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
        angular.module('myApplication', []).config(function($interpolateProvider){
                $interpolateProvider.startSymbol('{[{').endSymbol('}]}');
        });
        var app = angular.module('myApplication', ['angular-parallax']);
    </script>
    
{% endblock %}

</html>