<!DOCTYPE html>
<html lang="en" ng-app="etkApp">

<head>
    {% block meta_content_header %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
    {% endblock %}

    {% block stylesheets %}
        <link href="{{ asset('bundles/etknoticias/css/bootstrap.css') }}" type="text/css" rel="stylesheet">
        <!-- link href="{{ asset('bundles/etknoticias/css/bootstrap-responsive.css') }}" type="text/css" rel="stylesheet" -->
        <link href="{{ asset('bundles/etknoticias/css/jquery-ui.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/etknoticias/css/logo-nav.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/etknoticias/css/administrator.css') }}" rel="stylesheet">        
    {% endblock %}

    {% block title %}
    <title>Administracion de Web</title>
    {% endblock %}
    <!-- Custom CSS -->
    {% block angularFn %}
    {% endblock %}
</head>
<br/>
<br/>
<br/>
<br/>
{% block body %}
        {% block navbar %}
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('etk_admin_users') }}">
                        <img src="{{ asset('bundles/etknoticias/images/logo.png') }}"  height="60px" alt="">
                    </a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="{{ path('etk_admin_users') }}">Usuarios</a>
                        </li>
                        <li>
                            <a href="{{ path('etk_admin_noticias') }}">Noticias</a>
                        </li>
                        <li>
                            <a href="{{ path('etk_admin_logout') }}">Salir</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
        {% endblock %}

        {% block content %}

        {% endblock %}
{% endblock %}
<!-- /.container -->
{% block javascripts %}

{% endblock %}

</html>