Editar usuario: <br />
    <div class="container-fluid">
            {{ form_start(form) }}
            {{ form_errors(form) }}
        <div class="col-md-4">     
            <div class="form-group">
                {{ form_label(form.nombre) }}
                {{ form_errors(form.nombre) }}
                {{ form_widget(form.nombre, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="form-group">
                {{ form_label(form.apellido) }}
                {{ form_errors(form.apellido) }}
                {{ form_widget(form.apellido, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="form-group">
                {{ form_label(form.email) }}
                {{ form_errors(form.email) }}
                {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="form-group">
                {{ form_label(form.username) }}
                {{ form_errors(form.username) }}
                {{ form_widget(form.username, { 'attr': {'class': 'form-control'} }) }}
            </div>
        <div>
            {{ form_widget(form.Guardar, { 'attr': {'id':'btn_process_form', 'class': 'btn btn-default'} }) }}
             <button  type="button" class="btn btn-default" id="btn_cancel_form">Cancelar</button>
        </div>            
        </div>
        <div class="col-md-4">
            <div class="form-group">
                {{ form_label(form.plainPassword.first) }}
                {{ form_errors(form.plainPassword.first) }}
                {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control'} }) }}
            </div>
<!--            <div class="form-group">
                {{ form_label(form.plainPassword.second) }}
                {{ form_errors(form.plainPassword.second) }}
                {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control'} }) }}
            </div>  
-->         
            {% if form.Activar is defined %}
            <div class="form-group">
                <button type="button" class="btn btn-default" id="btn_activar_user">Activar</button>
            </div>
            {% endif %}
            {% if form.Banear is defined %}
            <div class="form-group">
                <button type="button" class="btn btn-default" id="btn_ban_user">Banear</button>
            </div>
            {% endif %}
            <div class="form-group">
                <button type="button" class="btn btn-default btn-danger" id="btn_delete_user">Borrar</button>
            </div>
            
        </div>    
        {{ form_widget(form._token) }}
        {{ form_end(form, {'render_rest': false}) }}
     </div>

     <script>
                $('#btn_cancel_form').click(function(){
                    $('#myModal').dialog('close');
                });
                $('#btn_delete_user').click(function(){
                    borrarUsuario("{{ data.id }}");
                });                 
                $('#btn_activar_user').click(function(){
                    activarUsuario("{{ data.id }}");
                });     
                
                    borrarUsuario = function(id){
                        $.ajax({
                            url : '{{ app.request.getBaseURL() }}/api/deleteUser/'+id,
                            method : 'GET',
                            beforeSend: function(xhr){xhr.setRequestHeader('Authorization', '{{ api_key }}');},
                        }).done(function(data) {
                            console.log(data);
                             if (data.status === "OK" ) {
                                alert('Usuario Borrado');
                                $('#myModal').dialog('close');
                                window.location.reload();
                                return true;
                             } else { 
                                 alert('Error');
                             }
                        })                
                    };

                    activarUsuario = function(id){
                        $.ajax({
                            url : '{{ app.request.getBaseURL() }}/api/activateUser/'+id,
                            method : 'GET',
                            beforeSend: function(xhr){xhr.setRequestHeader('Authorization', '{{ api_key }}');},
                        }).done(function(data) {
                            console.log(data);
                             if (data.status === "OK" ) {
                                alert('Usuario Activado');
                                $('#myModal').dialog('close');
                                window.location.reload();
                                return true;
                             } else { 
                                 alert('Error');
                             }
                        })                
                    };
     </script>     